@media (min-width: 992px) {

    /** */
    body {
        height: 100%;
    }

    /** */
    .btn-yellow-big,
    .btn-dark-big {
        padding: 0 20px;
        font-size: 20px;
        line-height: 42px;
    }

    main .make-bet .bonus,
    main .look .bonus {
        font-size: 20px;
        line-height: 40px;
    }

    /** */
    nav {
        .logo {
            left: 80px;
        }

        .btn {
            top: 40px;
            right: 60px;
        }
    }

    /** */
    main {
        height: 100%;

        .background {
            background-size: 100% auto;
        }

        .city {
            height: 100%;
        }

        .city-inner {
            background-size: 1400px auto;
        }

        .way {
            top: 0;
            background-size: 100% auto;
            height: 100%;
        }

        .car {
            top: 30px;
            width: 45%;
            transform: translate(-60%, 0);
        }

        .rider {
            width: 60%;
            height: 110%;
            transform: translate(-30%, 35%);
        }

        .dictor {
            width: 50%;
            height: 105%;
            transform: translate(25%, 35%);
        }

        .slogan {
            top: 230px;
            top: 37%;
            transform: translate(-42%, 0) perspective(1300px) rotateY(50deg) rotateX(-20deg);

            h1 {
                font-size: 68px;
                line-height: 90px;
            }

            h2 {
                font-size: 31px;
                line-height: 35px;
            }
        }

        .make-bet {
            top: auto;
            bottom: 100px;
        }

        .look {
            top: auto;
            bottom: 120px;
        }
    }

    footer {
        height: 95px;

        .pay-systems {
            bottom: 28px;
            width: 370px;

            a {
                margin: 2px 20px;
            }
        }

        .socials {
            bottom: 40px;
            right: 100px;
        }

        .limit {
            bottom: 35px;
            right: 270px;
        }
    }
}