footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 200px;
    transition: all 0.5s;

    .pay-systems {
        position: absolute;
        left: 0;
        bottom: 25px;
        width: 230px;
        transition: all 0.5s;

        a {
            display: flex;
            height: 35px;
            margin: 7px 20px;
            align-items: center;
        }
    }

    .downloads {
        position: absolute;
        top: 30px;
        left: 50%;
        width: 240px;
        transform: translate(-50%, 0);
        transition: all 0.5s;

        a {
            display: block;
            background-color: transparent;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 108px;
            height: 33px;
            margin: 0 5px;
        }

        .ios a {
            background-image: url("../../img/dwl_ios.png");
        }

        .google a {
            background-image: url("../../img/dwl_google.png");
        }
    }

    .socials {
        position: absolute;
        bottom: 90px;
        right: 15px;
        width: 100px;
        transition: all 0.5s;

        a {
            display: block;
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 20px;
            width: 20px;
            margin: 0 15px;
        }

        .fb a {
            background-image: url("../../img/soc_fb.png");
        }

        .vk a {
            background-image: url("../../img/soc_vk.png");
        }
    }

    .limit {
        position: absolute;
        bottom: 35px;
        right: 20px;
        background: transparent url("../../img/limit.png") center no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        transition: all 0.5s;
    }
}